/* CSS declarations go here */
html, body {
	height: 100%;
}

body {
	font-family: Raleway, Arial, sans-serif;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

p, li, a,
h1, h2, h3, h4, h5, h6 {
	font-family: Raleway, Arial, sans-serif;
	font-weight: 300;	
}

.gm-style-iw {
	top: 25px !important;
	padding: 0 3rem;
	background-color: rgba(255, 255, 255, 0.92);
}

.iw-closer {
	top: 30px !important;
	right: 20px !important;
}

.gm-style-iw .dl-horizontal dt {
    text-align: left;
    width: 4rem;
}

.gm-style-iw .dl-horizontal dd {
    margin-left: 0;
}

.infowindow-title {
	font-weight: 600;
	font-size: 1.6rem;
	margin-top: 2rem;
	margin-bottom: 0.3rem;
	color: rgb(165, 59, 59);
}

.infowindow-content {
	font-weight: 300;
	font-size: 1.4rem;
}

.infowindow-status {
	font-weight: 600;
	font-size: 1.4rem;
    text-align: center;
}

.pub-open {
	color: rgb(100, 160, 14);
}

.pub-closed {
	color: rgb(165, 59, 59);
}

.infowindow-openhours {
	font-weight: 300;
	font-size: 1.5rem;
	margin-bottom: 0;
}

.form-group {
	margin-bottom: 2.5rem;
	position: relative;
}

.form-group input {
	position: relative;
}

.form-group label {
	font-weight: 500;
	text-transform: uppercase;
	margin-left: 1rem;
}

.form-group textarea {
	resize: vertical;
}

.form-control {
	box-shadow: none;
	border: none;
	border-radius: 0;
	font-weight: 400;
}

.form-typeahead {
    position: absolute;
    z-index: 999;
    
    width: 100%;
    padding: 0;
    
    list-style-type: none;
    
    color: rgb(34, 34, 34);
}

.form-typeahead li {
	padding: 6px 12px;
	
	font-weight: 600;
	
	background-color: rgba(245, 183, 183, 0.96);
	
	cursor: pointer;
}

.form-typeahead li span.brewery {
	margin-left: 5px;
	
	font-weight: 400;
	
	color: rgb(90, 90, 90);
}

.form-alert {
    margin: 10px 0 0 10px;
    
    font-size: 1.5rem;
    font-weight: 600;
    
    color: #F6A6A6;
}

#findBeerForm {
	position: relative;
}

#beerNameInput {
	border: none;
	border-bottom: 1px solid rgba(230, 99, 99, 0.35);
	font-size: 1.8rem;
}

#beerNameInput:focus {
	border: none;
	border-bottom: 1px solid rgba(230, 99, 99, 1);
	box-shadow: none;
	outline: none;
}

#beerNameInput:focus {
	outline: none;
}

#breweries-typeahead li.colored {
	background-color: rgba(255, 205, 205, 0.96)
}

#beer-details dt {
	color: rgb(253, 170, 170);
}

#beer-details dd {
	font-weight: 400;
}

#page-container {
	position: relative;
	min-height: 100%;
	overflow-y: hidden;
}

#site-title {
	min-height: 10%;
	margin: 0 auto 2rem;
	font-size: 9rem;
	font-weight: 600;
	font-family: Playball, cursive;
	color: rgba(165, 59, 59, 1);
}

#site-nav {
	min-height: 5%;
	margin-bottom: 3rem;
}

#site-nav .fa-stack {
	cursor: pointer;
}

#pref-pane-container {
	position: absolute;
	z-index: 9999;
	top: 8rem;
	
	width: 100%;
}

#pref-pane {
	position: relative;
	max-width: 100rem;

	margin: 0 auto;
	padding: 3rem 3rem;

	/*
	border: 1px solid rgba(217, 217, 217, 0.68);
	*/

	border: none;
	background-color: rgba(56, 56, 56, 0.9);
	box-shadow: 0 0 6px rgba(109, 109, 109, 0.75);
	color: #FEFEFE;
}

#pref-pane .fa-times {
	cursor: pointer;

	position: absolute;
	top: 1rem;
	right: 1.5rem;
}

#pref-pane h4 {
	margin-bottom: 2rem;
}

#pref-pane-alert {
	margin-bottom: 2rem;

	font-weight: 600;
	font-size: 1.7rem;

	color: rgb(253, 170, 170);
}

.fade {
	opacity: 1;
}

/* The starting CSS styles for the enter animation */
.fade.ng-enter {
  transition: 0.15s ease-in-out all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fade.ng-enter.ng-enter-active {
  opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */
.fade.ng-leave {
  transition: 0.15s ease-in-out all;
  opacity: 1;
}

.fade.ng-leave.ng-leave-active {
  opacity:0;
}

#bg-bottom {
	height: 15rem;
	margin: 2rem auto 0;
}

#main-container {
	max-height: 70%;
	height: 75%;
	max-width: 100%;
	/* TESTS /*
	background-color: #999;*/
}

#mmpMap {
	height: 100%;
  	margin: 0 2rem;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.height-100 {
	height: 100%;
	min-height: 100%;
}