<!DOCTYPE html>
<html ng-app="mapMyPub">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
  <title>mapMyPub | Home</title>
  
  <link href="//fonts.googleapis.com/css?family=Playball" rel="stylesheet" />
  <link href="//fonts.googleapis.com/css?family=Raleway:600,400,300,200" rel="stylesheet" />

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
  <link href="css/mapMyPub.css" rel="stylesheet" />
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-animate.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular-resource.js"></script>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDgF9-hv09KVH_BYGZgv-Rund5lKZkLifM"></script>
  <script type="text/javascript" src="js/moment.min.js"></script>
  <script src="js/mmp.js"></script>
</head>

<body ng-controller="AppCtrl">
<div id="page-container" class="container-fluid height-100" ng-click="containerClicked($event)">
<div class="row height-100">
<div class="col-xs-12 text-center height-100">
	<h1 id="site-title">mapMyPub</h1>

	<div id="findBeerForm" ng-controller="FindBeerCtrl" class="row">
		<div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
		  <form>
		    <div class="form-group text-left">
		      <input ng-model="beerInput.name" ng-change="getBeers()" ng-focus="showInfoPanel()" ng-blur="hideInfoPanel()" type="text" class="form-control" id="beerNameInput" placeholder="I'm looking for a fresh..." />
		      <ul id="beers-typeahead" class="form-typeahead">
		        <li ng-repeat="beer in beers" ng-click="setFormBeer(beer)" ng-class-even="'colored'">{{beer.name}} <span class="brewery">{{beer.brewery_name}}</span></li>
		      </ul>
		    </div>
		  </form>
		</div>
		<div id="pref-pane-container" class="row">
			<div class="col-xs-10 col-xs-offset-1">
				<div id="pref-pane" ng-if="displayInfoPanel">
					<div id="beer-details" ng-if="!!beer.id">
				    <dl class="dl-horizontal">
				      <dt>Name</dt>
				      <dd class="text-left">{{beer.name}}</dd>
				    </dl>
				    <dl class="dl-horizontal">
				      <dt>Brewery</dt>
				      <dd class="text-left">{{beer.brewery_name}}</dd>
				    </dl>
				    <dl class="dl-horizontal" ng-if="!!beer.category_name">
				      <dt>Category</dt>
				      <dd class="text-left">{{beer.category_name}}</dd>
				    </dl>
				    <dl class="dl-horizontal" ng-if="!!beer.style_name">
				      <dt>Style</dt>
				      <dd class="text-left">{{beer.style_name}}</dd>
				    </dl>
				    <dl class="dl-horizontal" ng-if="!!parseInt(beer.abv, 10)">
				      <dt>Alcohol by Volume</dt>
				      <dd class="text-left">{{beer.abv}}%</dd>
				    </dl>
				    <dl class="dl-horizontal" ng-if="!!beer.description">
				      <dt>Description</dt>
				      <dd class="text-left">{{beer.description}}</dd>
				    </dl>
				  </div>
				</div>
			<!--</div>-->
			</div>
		</div>
	</div>

	<div class="row height-100">
		<div id="main-container" class="col-xs-12 text-center">
			<div id="mmpMap"></div>
    </div>
	</div>
</div>
</div>
</div>
<div id="footer">
	<img id="bg-bottom" src="img/beer-lineup.png" class="img-responsive" />
</div>
</body>
</html>

<!--
<template name="breweryOption">
	<option value={{id}} {{isSelectedBrewery}}>{{name}}</option>
</template>
-->
