<!--
<template name="addBeer">
<div id="pref-pane">
-->
<div ng-controller="AddBeerCtrl">
  <i class="fa fa-times fa-2x" ng-click="closePrefPane()"></i>
  <h4>Register a new beer</h4>
  <form>
    <div class="form-group text-left">
      <label for="breweryNameInput">Brewery</label>
      <input ng-model="brewery.name" ng-change="getBreweries()" type="text" class="form-control" id="breweryNameInput" placeholder="Hoegaarden">
      <ul id="breweries-typeahead">
        <li ng-repeat="brewery in breweries" ng-click="setFormBrewery(brewery)" ng-class-even="'colored'">{{brewery.name}}</li>
      </ul>
    </div>
    <div class="form-group text-left">
      <label for="beerNameInput">Beer Name</label>
      <input ng-model="beer.name" type="text" class="form-control" id="beerNameInput" placeholder="Rosée">
    </div>
    <div class="form-group text-left">
      <label for="beerTypeInput">Type</label>
      <select id="beerTypeInput" class="form-control">
        <option ng-repeat="category in categories" value="{{category.id}}">{{category.name}}</option>
      <!--
        <option value="0">Pale Lager</option>
        <option value="1">Blonde Ale</option>
        <option value="2">Weissbier</option>
        <option value="3">Pale Ale</option>
        <option value="4">Saison</option>
        <option value="5">English Bitter</option>
        <option value="6">Biere de Garde</option>
        <option value="7">Dark Lager</option>
        <option value="8">Brown Ale</option>
        <option value="9">Irish Dry Stout</option>
        <option value="10">Stout</option>
        <option value="11">Imperial Stout</option>
      -->
      </select>
    </div>
    <div class="form-group text-left">
      <label for="beerDescriptionInput">Description</label>
      <textarea ng-model="beer.description" class="form-control" id="beerDescriptionInput" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
<!--
</div>
</template>
-->
