<div ng-controller="AddPlaceCtrl">
  <i class="fa fa-times fa-2x" ng-click="closePrefPane()"></i>
  <h4>Register a new pub</h4>

  <form name="addPlace" novalidate>
    <div class="form-group text-left">
      <label for="pubNameInput">Name</label>
      <input ng-model="pub.name" type="text" class="form-control" id="pubNameInput" name="pubName" placeholder="Les Berthom Terreaux..." required>
      <div ng-show="addPlace.$submitted || addPlace.pubName.$touched" class="form-alert">
        <div ng-show="addPlace.pubName.$error.required">A name is required</div>
      </div>
    </div>
    <div class="form-group text-left">
      <label for="pubAddressInput">Address</label>
      <input ng-model="pub.address" type="text" class="form-control" id="pubAddressInput" name="pubAddress" placeholder="24, rue Pizay, 69001 Lyon..." required>
      <div ng-show="addPlace.$submitted || addPlace.pubAddress.$touched" class="form-alert">
        <div ng-show="addPlace.pubAddress.$error.required">We need an address to find it</div>
      </div>
    </div>
    
    <div id="pref-pane-alert" class="hidden">
      <span>
        This place couldn't be found.<br/>
        Please check the address and try again.
      </span>
    </div>
    <button type="submit" ng-click="geoCodePub()" class="btn btn-default">Search</button>
  </form>
</div>
